*,
*::before,
*::after {
    padding: 0;
    box-sizing: 0;
    margin: 0;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: purple;
    background-color: #f2f2f2;
}


h1 {
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}

nav {
    width: 100%;
    background-color: black;
}

nav ul {
    list-style-type: none;
    display: flex;
}

header {
    background: #555555;
}

.logo {
    padding: 10px;
    color: white;
}

ul.navbar li {
    background: black;
    padding: 15px;
}

ul.navbar a {
    text-decoration: none;
    padding: 15px;
    color: white;
    /* background-color: red; */
}
a:link {
    color: blue; 
}
a:visited {
    color: purple 
}

.container {
    width: 80%;
    margin: 0 auto;
}

.content {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}

address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted 
}